{% extends '@AdminBundle/layout.twig' %}
{% block title %}店铺装修{% endblock %}
{% set leftMenuActive='Home' %}

{% block contentRight %}

    <div class="page-title">店铺装修</div>

    <div class="content-top">
        <ul class="top-nav">
            <li><a href="{{ url('admin/home') }}">配置项</a></li>
            <li class="active"><a href="">模块</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-md-12">

                {# 一次性消息提示 #}
                {% include 'message.twig' %}

                {# 列表 #}
                <div class="table-responsive mt15">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>标识</th>
                            <th>分组</th>
                            <th>商品数量</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in list %}
                            <tr>
                                <td>{{ item.tagAlias() }}</td>
                                <td>{{ item.groupInfo().name|default('无[不展示]') }}</td>
                                <td>
                                    {% if item.tag == constant('Entity\\HomeModule::TAG_ONE') %}
                                        {{ item.quantity }}
                                    {% else %}
                                        数量由分组中的商品数量决定
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url('admin/home-module/update', {'tag':item.tag}) }}">修改</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
