{% extends '@AdminBundle/layout.twig' %}
{% block title %}推送管理{% endblock %}
{% set leftMenuActive='Push' %}

{% block contentRight %}

    <div class="page-title">推送管理</div>

    <div class="content-top">
        <ul class="top-nav">
            <li class="active"><a href="">查看推送</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="mt15">
                    <div class="pull-right">
                        <a class="btn btn-success btn-sm" href="{{ url('admin/push/update',{'id':entity.id}) }}"><span class="glyphicon glyphicon-edit"></span> 修改</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {% include 'message.twig' %}

                <table class="table mt15">
                    <tr>
                        <td>Id</td>
                        <td>{{ entity.id }}</td>
                    </tr>

                    <tr>
                        <td>client_id</td>
                        <td>{{ entity.cid }}</td>
                    </tr>

                    <tr>
                        <td>标题</td>
                        <td>{{ entity.title }}</td>
                    </tr>

                    <tr>
                        <td>状态</td>
                        <td>{{ entity.status }}</td>
                    </tr>

                    <tr>
                        <td>内容</td>
                        <td>{{ entity.content }}</td>
                    </tr>

                </table>

            </div>
        </div>
    </div>

{% endblock %}
