{% extends '@AdminBundle/layout.twig' %}
{% block title %}分类管理{% endblock %}
{% set leftMenuActive='Product' %}

{% block contentRight %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="page-title">分类管理</div>

                <div class="content-top">
                    <ul class="top-nav">
                        <li class="active"><a href="">查看分类</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="mt15">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="{{ url('admin/category/update',{'id':entity.id}) }}"><span class="glyphicon glyphicon-edit"></span> 修改</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {% include 'message.twig' %}

                <table class="table mt15">
                    <tr>
                        <td>Id</td>
                        <td>{{ entity.id }}</td>
                    </tr>

                    <tr>
                        <td>名称</td>
                        <td>{{ entity.name }}</td>
                    </tr>

                    <tr>
                        <td>父级</td>
                        <td>{{ entity.parent_id }}</td>
                    </tr>

                    <tr>
                        <td>Path</td>
                        <td>{{ entity.path }}</td>
                    </tr>

                    <tr>
                        <td>状态</td>
                        <td>{{ entity.status }}</td>
                    </tr>

                    <tr>
                        <td>排序</td>
                        <td>{{ entity.sort }}</td>
                    </tr>

                    <tr>
                        <td>属性 </td>
                        <td>{{ entity.property }}</td>
                    </tr>

                </table>

            </div>
        </div>
    </div>

{% endblock %}
